includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 8
    paths:
        - app/
    scanDirectories:
        - ../bcc-core/src/
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - phpstan-bootstrap.php
    parallel:
        maximumNumberOfProcesses: 1
    treatPhpDocTypesAsCertain: false
